{{#each tasks}}
<div id={{@key}} class="task-item">
  <input type="checkbox" id="task-done" class="task-done" {{#if done }} checked {{/if}}>
  <label for="task-done">{{title}}</label>
  <p>{{description}}</p>
  <p>{{dueDate}}</p>
  <p>{{priority}}</p>
  <span class="task-delete-button icon">&#10006;</span>
  <span class="task-edit-button icon">&#9998;</span>
</div>
{{/each}}

<form id="task-form">
  <input type="text" placeholder="Task title" class="task-title">
  <input type="text" placeholder="Task description" class="task-desc">
  <input type="date" class="task-due">
  <button>Add Task</button>
</form>